<h1 mat-dialog-title>Add label</h1>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="label title"
           formControlName="title" fxLayoutAlign="end start">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose color</mat-label>
    <mat-select  [(value)]="selected">
      <mat-option *ngFor="let color of colorsList" [value]="color"  (click)="onClick(color)">
        {{color}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>You selected: {{selected}}</p>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Anuluj</button>
  <button mat-button (click)="save()" cdkFocusInitial>Dodaj</button>
</div>
