<h1 mat-dialog-title>Nowa Tablica</h1>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="nazwa listy"
           formControlName="table" fxLayoutAlign="end start">
  </mat-form-field>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Anuluj</button>
  <button mat-button (click)="save()" cdkFocusInitial>Dodaj</button>
</div>
