<h1 mat-dialog-title>Karta</h1>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="tytuł"
           formControlName="itemTitle">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="opis"
           formControlName="description">
  </mat-form-field>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Anuluj</button>
  <button mat-button (click)="save()" cdkFocusInitial>Dodaj</button>
</div>
