.mat-card {
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top: 2%;
}

.icon {
  border-radius: 6px;
  width: 100%;
  height: 35rem;
  color: white;
  display: flex;
  float: left;
  margin: 1%;
  padding: 1%;
  position: relative;
}


.table-icon {
  position: absolute;
  top: 6px;
  right: 6px;
}

.table-item-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}


#logout{
  text-decoration-style: unset;
  color: white;
  position: absolute;
  right: 10px;
}

.card {
  border-radius: 6px;
  width: auto;
  height: 8%;
  background-color: aliceblue;
  display: flex;
  float: center;
  margin: 10%;
  padding: 1%;
  
  margin-top: 30%;
  text-align: center;
}

.mat-dialog-content {
  overflow: unset;
  height: 100%;
}



// drag and drop list

.example-container {
 
  margin: 10px;
  width: 100%;
  max-height: 80%;
  max-width: 100%;

  display: inline-block;
  vertical-align: top;

}

.example-list {
  margin-top: 50px;
  border: solid 1px ;
  min-height: 20%;
  width:12rem;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  position: relative;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


//styles for tables 


.example-list-table {
  width: 1000px;
  max-width: 100%;
  border: solid 1px white;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
}

.example-box-table {
  padding: 20px 10px;
  border-right: solid 5px white;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: rgb(43, 42, 42);
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder-table {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box-table:last-child {
  border: none;
}

.example-list-table.cdk-drop-list-dragging .example-box-table:not(.cdk-drag-placeholder-table) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.btnStyle{
  width: 10px;
  height: 5px;
  // color: black;
  // padding: 1px 1px 1px 1px;

}