<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="material-icons">
      featured_play_list
    </i>
    <span> Trello/Tables </span>
    <a id="logout" routerLink="" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Log out</a>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card>
  <button mat-raised-button color="primary" (click)="openDialog()">+</button>

  <br/>
  <br/>

  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list-table" (cdkDropListDropped)="dropTable($event)">
      <div class="example-box-table" *ngFor="let table of observableTables$ | async; let i = index" cdkDrag>
          <div class="icon">{{table.tableName}}
              <mat-icon class="table-icon" (click)="openDialogItemTable(table._id)">add</mat-icon>

              <div class="col">
                <div class="example-container">
                  <div *ngIf="table.tableItems.length > 0">
                      <div
                      cdkDropList
                      #todoList="cdkDropList"
                      [cdkDropListData]="table.tableItems"
                      class="example-list"
                      (cdkDropListDropped)="dropList(i,$event)">
                      <div class="example-box" *ngFor="let tableItem of table.tableItems; let i = index" cdkDrag (click)="openDialogCardInfo(tableItem)">
                       
                        <div class="row">
                         
                            <div class="col" *ngFor="let label of tableItem.labels">                      
                              <button  class="btnStyle" mat-raised-button [color]="label.labelColor" ></button>  
                            </div>
                        
                         
                          <div class="row">
                            {{tableItem.itemTitle}}
                          </div>
                        </div>
                        
                      </div>
                    </div>

                  </div>
                  </div>

              </div>
            </div>
      </div>
    </div>
</mat-card>

