<mat-dialog-content>
<h1 mat-dialog-title> Title</h1>
<h2 mat-dialog-title> {{data.itemTitle}}</h2>
<mat-divider></mat-divider>
<h2 mat-dialog-title> Labels</h2>
<div class="row">
  <button mat-raised-button color="primary" (click)="openLabelDialog(data)">Add label</button> 
</div>
<br/>
<div class="row">   
  <div *ngFor="let label of data.labels" class="col">
    <button mat-raised-button [color]="label.labelColor" >{{label.labelTitle}}</button>  
  </div>
</div>
<br/>

  <div class="row">
      <h1 mat-dialog-title>Description</h1>
      {{data.description}}
    <input
      type="file"
      #file
      style="display: none"
      (change)="onFilesAdded()"
      multiple
    />
  </div>
  <br/>
  <mat-divider></mat-divider>

  <div class="row">
      <div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
          <h1 mat-dialog-title>Attachments</h1>
        <div *ngFor="let availableFile of observableFiles$ | async ">
          <a [href]="availableFile.fileUrl" download="{{availableFile.fileName}}">{{availableFile.fileName}}</a>
          <mat-icon (click)="delete(availableFile._id)">delete_forever</mat-icon>
        <br/>
        </div>
          <div>
            <button
              [disabled]="uploading || uploadSuccessful"
              mat-raised-button
              color="primary"
              class="add-files-btn"
              (click)="addFiles()">
              Add Files
            </button>
          </div>

          <mat-dialog-content fxFlex>
            <mat-list>
              <mat-list-item *ngFor="let file of files">
                <h4 mat-line>{{file.name}}</h4>
                <mat-progress-bar
                  *ngIf="progress"
                  mode="determinate"
                  [value]="progress[file.name].progress | async"
                ></mat-progress-bar>
              </mat-list-item>
            </mat-list>
          </mat-dialog-content>


        </div>
  </div>
  <br/>

  <div class="row">
      <mat-dialog-actions class="actions">
          <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!canBeClosed"
            (click)="closeDialog()"
          >
            {{primaryButtonText}}
          </button>
        </mat-dialog-actions>

  </div>
  <br/>
  <mat-divider></mat-divider>
  <br/>
  <div class="row">

      <div class="col">
        <div class="row">
          <h1 mat-dialog-title>Comments</h1>
            <mat-list class="card" *ngFor="let comment of comments">
                <mat-list-item> <mat-icon>account_circle</mat-icon>{{comment.commentTxt}}</mat-list-item>
              </mat-list>
        </div>

        <div class="row">
            <form [formGroup]="form">
                <mat-form-field class="example-full-width"  class="col-4">
                    <textarea matInput placeholder="Leave a comment" formControlName="userInput"></textarea>
                  </mat-form-field>
            </form>
          </div>
      </div>
        <button mat-raised-button color="primary"  class="col-4" (click)="addComment(data._id)"> Add comment</button>
  </div>
 <br/>
  <mat-divider></mat-divider>
  <br/>
  <div class="row">
      <div class="col">
        <div class="row">
          <h1 mat-dialog-title>Activities</h1>
            <mat-list class="card" *ngFor="let activity of _activities">
                <mat-list-item> <mat-icon>account_circle</mat-icon>{{activity.action}}<br/>{{activity.when}}</mat-list-item>
              </mat-list>
        </div>
      </div>
  </div>
 <br/>

</mat-dialog-content>
