.example-container {
  display: flex;
  flex-direction: column;

}

.example-container > * {
  width: 70%;
  margin: auto;
}

.mat-button{
  background-color: #3f51b5;
  color: white;
  margin: 1px;
  opacity: 0.8;
}

mat-card{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 270px;
}
