.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 70%;
  margin: auto;
}

.example-full-width{
  background-color: #3f51b5;
  color: white;
  margin: 1px;
  opacity: 0.8;
}

mat-card{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin: auto;
}
