<script src="app.module.ts"></script><h1 mat-dialog-title>Edytuj Nazwe Tablicy</h1>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="nazwa tablicy"
           formControlName="board">
  </mat-form-field>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Anuluj</button>
  <button mat-button (click)="save()" cdkFocusInitial>Edytuj</button>
</div>
