.mat-card {
  width: 80%;
  height: 60em;
  margin: auto;
  margin-top: 2%;
}

.icon {
  border-radius: 6px;
  width: 20%;
  height: 10rem;
  background-color: #24232b;
  color: aliceblue;
  display: flex;
  float: left;
  margin: 1%;
  padding: 1%;
  position: relative;
}

.icon:hover {
  opacity: 0.7;
  border-radius: 6px;
  width: 20%;
  height: 10rem;
  background-color: #666572;
  color: aliceblue;
  display: flex;
  float: left;
  margin: 1%;
  padding: 1%;
  position: relative;
}


.mat-icon{
  position: absolute;
  top: 6px;
  right: 6px;
}

#logout{
  text-decoration-style: unset;
  color: white;
  position: absolute;
  right: 10px;
}
