<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="authenticationService.isAuthenticated()">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <i class="material-icons">
          featured_play_list
        </i>
        <span>Trello/Boards</span>
        <a id="logout" routerLink="" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Log out</a>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card>

      <div class="row">
        <button mat-raised-button color="primary"  (click)="openDialog()" >+</button>
      </div>
      <br/>
      <div class="row">
          <div [routerLink]="['/table/', board.id]" *ngFor="let board of observableBoards$ | async">
            <div class="icon">{{board.boardName}}
              <mat-icon (click)="edit(board)">edit</mat-icon>
            </div>
          </div>
      </div>

    </mat-card>
    </div>
